.calories-slider.MuiSlider-root {
  width: 300px;
}

.calories-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  .calories-textfield.MuiTextField-root {
    margin-top: 10px;
  }
}